@import url("./css/vis.css");

body {
    background-color: var(--page__background-color);
    color: var(--text-color);
}

/* The iframe will fill the container */
#iframe iframe {
    position: absolute;
    top: 70px;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100%;
}